@media (max-width: 768px){
    .flex-container {
        flex-direction: column;
    }
    #plans .flex-container{
        align-items: center;
    }
    .flex-column{
        margin-block: 3rem
    }
    #about h2{
        margin-top: 3rem;
    }
    #header-container h1{
        margin-top: 2rem;
    }
    #navigation{
        margin-right: 0;
        margin-bottom: 1rem;
    }

}

